@model Cuentas.Models.Cuenta

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-column align-items-center mt-5">

    <h2 class="card-title text-center mb-4 text-white bg-success p-3 rounded">
        Detalles de la Cuenta
    </h2>

    <div class="card shadow-sm p-4 mb-4" style="max-width: 600px; width: 100%;">
        <h4>Cuenta</h4>
        <hr />


        <table class="table table-bordered border-primary">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.numero)</th>
                    <td>@Html.DisplayFor(model => model.numero)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                    <td>@Html.DisplayFor(model => model.descripcion)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.creditos)</th>
                    <td>@Html.DisplayFor(model => model.creditos)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.debitos)</th>
                    <td>@Html.DisplayFor(model => model.debitos)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.balance)</th>
                    <td>@Html.DisplayFor(model => model.balance)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex gap-2">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>
        <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
    </div>

</div>

